*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    background-color: rgb(252, 219, 147);
}

.cabeçalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    height: 50px;
    width: 50px;
    margin-left: 15px;
}

.titulo{
    display: flex;
    background-color: brown;
}

.sub-titulo{
    background-color: cadetblue;
    text-align: center;
}

.letra-titulo{
    font-style: italic;
    color: aliceblue;
    margin-top: auto;
    margin-bottom: auto;
}

.letra-sub{
    font-style: italic;
    color: azure;
}

.clicks{
    font-style: italic;
    color: rgb(51, 184, 57);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.opcoes-clicks{
    display: inline-flex;
    margin-left: 65%;
}

.botao-sim{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    background-color: #1ae635;
    cursor: pointer;
}

.resposta-sim{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

.botao-nao{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #ccc;
    cursor: pointer;
  }

.resposta-nao{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}